 @import url('https://fonts.googleapis.com/css?family=Tangerine')
*{
 	margin: 0;
 	padding: 0;
 	box-sizing: boder-box;
 	font-family:'Poppins',sans-serif; 
 }
 body{
 	display: flex;
 	allign-items: center;
 	justify-content: center;
 	min-height: 100vh;
 	background: #343F4F;

 }
 .wrapper{
 	display: inline-flex;
 }
 .wrapper .static-txt{
 	color: #fff;
 	font-size: 60px;
 	font-weight: 400px;

 }
 .wrapper .dyanmic-txts{
 	margin-left: 15px;
 	height: 90px;
 	line-height: 90px;
 	overflow:hidden;  

 }
 .dyanmic-txts li{
 	color: #FC6D6D;
 	list-style: none;
 	font-style: 60px;
 	font-weigth: 500px;
 	position: relative;
 	top: 0;
 	animation:slide 6s steps(4) infinite;
 }
 .dyanmic-txts li span{
 	position: relative;
 }

 @keyframes slide {
100%{
	top: -360px;
}
	top:-360px;
 .dyanmic-txts li span::after{
 	content:"";
 	position: absolute;
 	height: 100%;
 	width: 100%; 
 	background: #343F4F;
 	boder-left: 2px soid# FC6D6D;
 	animation: slide 1.5s steps(10) infinite;
}
@keyframes typing {
100%{
	;left: 100%;
	margin: 0 -35px 0 35px;
}